.grid {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	height: 100%;
	width: 100%;
	gap: 5px;
}
.gridItemWrapper {
	display: flex;
	position: relative;
}
.gridItem {
	width: 100%;
	height: 100%;
	background-image: var(--bg-image);
	background-size: 300% 300%;
	transition: border 0.1s;
	border: #ffffff solid;
	border-width: 0;
	&[data-selected] {
		border-width: 14px;
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1a73e8;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	color: #ffffff;
	width: 30px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		stroke-width: 1.5px;
		stroke: white;
	}
}
