.header {
	background-color: #1a73e8;
    padding: 24px;
	color: #ffffff;
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
}
.title {
	font-size: 0.85em;
}
.term {
	font-size: 2em;
	font-weight: bold;
}
.skip {
	font-size: 0.95em;
}